<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Liste des pharmacies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar  placeholder="Rechercher une pharmacie"  (ionChange)="SearchPharmacie($event)" [debounce]="250"></ion-searchbar>
<p padding class="ion-text-center">
    <ion-icon style="font-size:25px;font-weight:bold"  ios="ios-navigate" md="md-navigate"></ion-icon>
    <span style="font-size:20px;font-weight:bold">
        Rechercher par localisation
    </span>
</p>
<ion-item *ngFor="let pharmacie of phamarcies" (click)="detailPharmacie(pharmacie)">
  <ion-thumbnail slot="start">
      <img src="{{pharmacie.image}}" />
      </ion-thumbnail>
  <ion-label>
    <p style="font-size: 20px;font-weight: bold;">
        {{pharmacie.nom}}
    </p>
    <p>
        {{pharmacie.ville}} ,  {{pharmacie.commune}}
    </p>
    <p>
        {{pharmacie.docteur}}
    </p>
  </ion-label>
</ion-item>
</ion-content>
