<ion-header>
  <ion-toolbar>
    <ion-title>
      Acceuil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100%;" class="ion-justify-content-center aligns-content-center">
  <div>
    <p class="ion-text-center" style="font-size: 27px;font-weight: bold;">
      Pharma Info SMAGIR2
    </p>
  </div>
    <ion-card class="ion-text-center" (click)="gotoPharmacies()">
      <label>
        <img style="width: 20%;margin: 0 auto;" src="./../../assets/pharmacist.png" alt="">
        <h4>
          Liste des pharmacies
        </h4>
      </label>
    </ion-card>
    <ion-card class="ion-text-center">
      <label>
          <img style="width: 20%;margin: 0 auto;" src="./../../assets/hospital.png" alt="">

        <h4>
          Pharmacie de garde
        </h4>
      </label>
    </ion-card>
</ion-content>
